body{
    background-image: linear-gradient(blue, green);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(fundopreto.jpg) ;
}
.tela-login{
    display: flex;
    flex-direction: column;

    background-color: rgba(26, 25, 25, 0.918);
    position:absolute;
    top: 20%;
    left: 70%;
    padding: 80px;
    border-radius: 15px;
    height: 350px;
}

.tela-login input, button{
    margin-top: 10px;
}

.logo{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 350px;
}