body{

    background-color: rgba(0, 0, 0, 0.932);
    background-image: linear-gradient(blue, green);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(fundopreto.jpg) ;
}
.tela-login{
    background-color: rgba(151, 145, 145, 0.5);
    position:absolute;
    top: 20%;
    left: 70%;
    padding: 80px;
    border-radius: 15px;
    height: 350px;
}
.logo{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 350px;
}